- if @pet.errors.any?
  Please review the following messages ...
  - @pet.errors.full_messages.each do |msg|
    %li= msg
= simple_form_for(@pet) do |f|
  // = f.error_notification

  .form-inputs
    = f.input :name
    = f.input :description
    = f.association :pet_category
    = f.association :location
    = f.input :published
    = f.input :available, inline_label: 'Available' 
    = f.input :visible, inline_label: 'Visible'

  .form-actions
    = f.button :submit
