.header
  %h1 Listing pets

.content
  %table{class: 'pure-table'}
    %thead
      %tr
        %th Name
        %th Description
        %th Pet categories
        %th Location
        %th Published
        %th Available
        %th
        %th
  
    %tbody
      - @pets.each do |pet|
        %tr
          %td= pet.name
          %td= pet.description
          %td= pet.pet_category.name
          %td= pet.location.name
          %td= pet.published
          %td= pet.available
          %td= link_to 'Show', pet
          %td= link_to 'Edit', edit_pet_path(pet)
  
  %br
  
  = link_to 'New Pet', new_pet_path
