.header
  %h1 Listing pets 

.content
  %table{class: 'pure-table'}
    %thead
      %tr
        %th Name
        %th Description
        %th Pet categories
        %th Location
        %th Status
        %th Published
        %th Available
        %th Owner
        %th
        %th
  
    %tbody
      // = @pets.count
      // = debug(@pets.first)
      // - @pets.each do |pet|
      - @pets.each do |pet|
        %tr
          %td= pet.name
          %td= pet.description
          %td= pet.pet_category.name
          %td= pet.location.name
          %td= pet.pet_status.titleize 
          %td= pet.published
          %td= pet.available
          - if pet.user_detail 
            %td= pet.user_detail.name
          - else 
            %td= "Crap"
          // %td= pet.user_detail.name
          // %td= pet.user_detail.first.name
          %td= link_to 'Show', pet
          - if policy(pet).update?
            %td= link_to 'Edit', edit_pet_path(pet)

  %br
  
  // = link_to 'New Pet', new_pet_path
